.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  text-align: center;
}
p {
  height: 10%;
  font-weight: bold;
}
.card-User {
  background-color: rgb(224, 248, 255);
  border: solid 5px rgb(32, 159, 218);
  height: 350px;
  width: 450px;
  padding: 10px;
  margin: 80px;
  border-radius: 3%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
.mb-2text-muted {
  color: blue;
  font-size: 15px;
}
.App {
  display: flex;
}
.cardtitle {
  font-size: 25px;
  font-weight: bold;
  color: gold;
}

div :hover {
  background: rgb(252, 250, 145);
}
.detailsbutton {
  background-color: gold;
  border: solid 2px gold;
  border-radius: 8%;
}
.card-details {
  background-color: rgb(221, 221, 221);
  border: solid 5px black;
  height: 350px;
  width: 450px;
  padding: 10px;
  margin: 80px;
  border-radius: 3%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}
